#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512

# Use CDROM installtion media
cdrom

# Use text mode install
text

# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=vda

# Keyboard layouts
keyboard --vckeymap=jp --xlayouts='jp'

# System language
lang ja_JP.UTF-8

# Network information
network --bootproto=static --device=eth0 --onboot=on --activate --gateway=192.168.121.1 --ip=192.168.121.66 --nameserver=192.168.121.1 --netmask=255.255.255.0 --noipv6
network --hostname=k8s-minion2

# Root password
rootpw --plaintext root

# Do not configure the X Window System
skipx

# System timezone
timezone Asia/Tokyo --isUtc

# add user
user --groups=wheel --name=kube --password=kube --plaintext --gecos="kube"

# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=vda
autopart --type=lvm

# Partition clearning information
clearpart --all --initlabel --drives=vda

%packages
@core
@base
%end

%post --log=/root/postinstall.log
yum update -y
%end
